@import "tailwindcss";

@font-face {
  font-family: "Black Ops One";
  src: url("/fonts/Black_Ops_One/BlackOpsOne-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@theme {
  --font-black-ops-one: "Black Ops One", sans-serif;
}
